{% extends "base.html" %}
{% block content %}
<h2>Menú Principal</h2>

<ul>
    <li><a href="{{ url_for('main.crear_producto') }}">➕ Crear Producto</a></li>
    <li><a href="{{ url_for('main.registrar_entrada') }}">📥 Entrada de Inventario</a></li>
    <li><a href="{{ url_for('main.registrar_salida') }}">📤 Salida de Inventario</a></li>
    <li><a href="{{ url_for('main.ver_kardex') }}">📄 Ver Kardex</a></li>
    <li><a href="{{ url_for('main.consultar_stock') }}">🔍 Consulta de Stock</a></li>
</ul>
{% endblock %}
